body {
    background-color: yellow;
}
.left {
    text-align: left;
}

.center {
    text-align: center;
    margin: 20px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}
.img-large {
    height: 300px;
    width: 600px;
}

b{
    text-align: right;
    font-size: 100%;
    margin: 10px;
    
}
.s{
    font-size: 200%;
    text-align: center;
    margin: auto;
}

