body {
    background-color: yellow;
}
.left {
    text-align: left;
}

.center {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.bold {
    font-weight: bold;
}
.img-large {
    height: 300px;
    width: 600px;
}

b{
    text-align: center;
    font-size: 200%;
   background-color: lightblue;
   position: absolute;
    right: 0px;
    width: 1000px;
    border: 3px solid #73AD21;
    padding: 10px;
    
}
.s{
    font-size: 300%;
    text-align: center;
    margin: auto;
}
.img1 {
    float: left;
    border: 3px solid #73AD21;
    margin: 0 0 10px 10px;
     height: 300px;
     overflow: auto;
}
