body {
 background-image: url("paper.gif");
}
.left {
    text-align: left;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}
.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.text-medium{
    font-size: 100%;
}
.text-small{
    font-size:100%;
}

